*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: tahoma;
    transition: all .5s;
}
::selection {
    background-color: transparent;
}

body{
    display: flex;
    height: 100vh;
    background: linear-gradient(1800deg,#db726b,#3eaef8);
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_signUp{
    width: 400px;
    height: 600px;
    padding-bottom: 10px;
    background: linear-gradient(0deg,#96cf75,#98d6ff);
    border-radius: 10px;
    filter: drop-shadow( 0 0 8px #000000);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textarea{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}
input:active{
    opacity: .4;
}
input{
    border: 0;
    display: flex;
    background-color: #08a4ffe7 ;
    padding: 20px;
    width: 100%;
    color: #000;
    border-radius:5px ;
    font-size: 14px;
    margin: 10px 0;
    position: relative;
}
input:before{
    content: '';
    position: absolute;
    width: 100%;
    padding: 50px;
    border: 10px solid;
}
input::placeholder{
    color: rgb(0, 0, 0);
}

 .email{
    display: none;
}

.button_login{
    display: flex;
    justify-content: center;
    margin: 12px 0;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.button_login .svg{
    width: 10%;
    margin-top: 10px;
    /* display: none; */
}
.button_login button{
    border: 0;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    background: #025bff;
    width: 50%;
    position: relative;
}

.button_login .login_Icon{
    width: 50px;
    height: 50px;
    border: 2px solid ;
    border-radius: 50%;
    border-left:2px solid transparent ;
    position: relative;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    display: none;
}
.button_login .login_Icon::before{
    content: '';
    width: 40px;
    height: 5px;
}
.button_login i img{
    width: 50px;
    transform: translateX(-50px);
    display: none;
}
.button_login i:hover >img{
    transform: translateX(0px);
    display: flex;
    animation: trans .5s linear;

}
@keyframes trans {
    0%{
    transform: translateX(-20px);

    }
    100%{
        transform: translateX(0px);

    }
}


#hide{
    color: greenyellow;
    background: #000000;
    padding: 10px;
    border: 0;
    border-radius:16px;
    cursor: pointer;
}
#container {
    background: #1bdaca;
    width: 500px;
    height: 200px;
    align-items: center;
    justify-content: center;
    /* display: none; */
    display: flex;
    border-radius: 16px;
    z-index: 1;
    position: fixed;
    opacity: 0;
    transform: translateY(-700px);
}

.title {
    width: 80%;
    font-size: large;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}
.show{
    display: flex;
}
.showB{
    display:block;
}

@media screen and (max-width:480px) {
   #container{
     width: 100%;
   }
   .header{
    width: 80%;
   }
  
}
